
.modal-mydocs.modal.hide.fade
    div.modal-header
        button.close(data-dismiss='modal') x
        h3
    div.modal-body
        p
        fieldset
            #doclist-cg.control-group
                label.control-label(for='document-list') My documents
                .controls
                    select#document-list(name='docs')
                        option(selected=true) Choose one of your document
                        each item in documents
                            option(selected=false)= item.doc
            #name-cg.control-group
                label.control-label(for='name-tf') Add a user to the document
                .controls
                    input#name-user.input-xlarge(type='text', name='name', value= 'username')
    div.modal-footer
        button(data-dismiss="modal").cancel.btn Cancel
        button.submit.btn Ok
