!!! 5
html
  head
    title Chart
  body
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    script(src="http://code.highcharts.com/highcharts.js")
    #container
    script
      $(function () { 
        $('#container').highcharts({
          chart: {
          type: 'bar'
          },
          title: {
          text: 'Contributions for document #{doc_name}'
          },
          xAxis: {
            categories: [#{users}]
          },
          yAxis: {
            title: {
            text: 'Number of operations'
            }
          },
          series: #{series}
          
          });
        });
