!!! 5
html
  head
    title Chart
  body
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    script(src="http://code.highcharts.com/highcharts.js")
    #container
  script
    (function($){ // encapsulate jQuery
       $(function () {
         $('#container').highcharts({
            chart: {
              plotBackgroundColor: null,
              plotBorderWidth: null,
              plotShadow: false },
            title: {
              text: 'Contributions of users for document #{doc_name}'
            },
            tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage}%</b>',
              percentageDecimals: 1
            },
          plotOptions: {
            pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              dataLabels: {
              enabled: true,
              color: '#000000',
              connectorColor: '#000000',
              formatter: function() 
                {
                  return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
                }
              }
            }
          },
          series: [{
          type: 'pie',
                name: 'Number of operations',
                data: #{operations}
                }]
          });
        });
      })(jQuery);
